[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas-profiling = "*"
flake8 = "*"
black = "==19.10b0"

[packages]
torch = "*"
torchvision = "*"
dgl = "*"
scikit-learn = "*"
jupyterlab = "*"
graphql-core = "==2.0"
wandb = "*"

[requires]
python_version = "3.7"
